.coverInfo {
  //display: grid;
  //place-items: center;
  //border: 1px solid red;

}

.typing {
  width: 23ch;
  animation: typing 3s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Poppins', sans-serif;
  font-size: 4.8vh;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),
    0px -2px 3px rgba(255, 255, 255, 0.3);

}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.typing span {
  color: #ee7878; // #ff5e5e
}

.stackWrapper {
  display: flex;
  flex-direction: row;
}

.stackContainer {
  display: inline-block;
  width: 100%;
}

.stackContainer p,
.firstItem {
  display: inline;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: rgb(255, 250, 205);
  font-size: 3.2vh;
  font-family: 'Teko', sans-serif;
  letter-spacing: -2vh;
  font-weight: 900;
  margin: 0vh 1vh 0 0;
  padding: 0 8px 22px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(39, 36, 36, 0.3);
  background-color: rgba(16, 128, 128, 0.664);
  border-radius: 3px;
}

.firstItem {
  font-size: 41px;
  font-size: 4.4vh;

  letter-spacing: -1.6vh;
}

p.highlight {
  color: #d47575;
}


@media only screen and (max-width: 1250px) {

  .typing {
    font-size: 4.3vh;
  }
  
.stackContainer p,
.firstItem {
  font-size: 2.9vh;
  letter-spacing: -1.5vh;
  padding: 0 2px 22px;

}
  .firstItem {
    font-size: 4.8vh;
    letter-spacing: -1.8vh;
    padding: 0 0 10px;
  }
}


@media only screen and (max-width: 992px) {

  .typing {
    font-size: 4.3vh;
  }
  
.stackContainer p,
.firstItem {
  font-size: 2.6vh;
  letter-spacing: -1.2vh;
  padding: 0 1px 22px;
  margin: 0 9px 0 0;


}
  .firstItem {
    font-size: 3.8vh;
    letter-spacing: -1.8vh;
    padding: 0 0 10px;
  }
}