.menuDesktop{
    font-family: 'Teko', sans-serif;
    font-weight: 900;
    text-align: center;
    border: 5px solid #bb5858;
    padding: 20px 0;
    width: 100%;

}
.menuDesktop p{
    color: rgb(255, 255, 255);
    font-size: 4.1vh;
    margin: 1.5vh auto 1.5vh;
    padding: 5px;
    width: 70%;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    transition: 0.5s;
}

.menuDesktop .highlighted{
    font-size: 4.5vh;
    color: #fa7d7d
}
.menuDesktop p:hover {
    color: #da6969;
}

@media only screen and (max-width: 1250px) {
    .menuDesktop p{
        font-size: 4vh;
    }
    
}

@media only screen and (max-width: 992px) {

    .menuDesktop p{
        margin: 0.6vh auto 0.6vh;
        padding: 3px;
        width: 90%;
        font-size: 3.3vh;
    }

    .menuDesktop{
        margin: 6vh 3vh;
    }
}